*, *::after, *::before {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #3269ff;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #ffffff;
    text-decoration: none;
    border: none;
}
button:hover {
    color: #3269ff;
}

/* .welcomeButton {
    z-index: 100;
    position: absolute;
    left: auto;
    top: auto;
    right: 15%;
    bottom: 50%;
} */

.welcomeButton {
  /* transform: translatey(0px); */
  z-index: 100;
  position: absolute;
  left: auto;
  top: auto;
  right: 15%;
  bottom: 60%;
  animation: float 5s ease-in-out infinite;
  text-align: center;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  letter-spacing: 3px;
  padding: 50px;
  border-radius: 11px;
  border: 0;
  box-shadow: 22px 22px #1c2445;
  font-family: 'Permanent Marker', cursive;
}
.welcomeButton:after {
  /* transform: translatey(0px); */
  animation: float2 5s ease-in-out infinite;
  content: ".";
  /* font-weight: bold; */
  -webkit-text-fill-color: #3269ff;
  text-shadow: 22px 22px #1c2445;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #3269ff;
  position: absolute;
  /* display: block; */
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #1c2445;
  z-index: 100;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}


.modal {
    position: fixed;
    top: 45vh;
    left: 40vw;
    /* top: 45vh; this is good for proj vids
    left: 125vw; */
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    /* border: 2px solid black; */
    border-radius: 10px;
    z-index: 100;
    /* background-color: rgba(255, 255, 255, 0.45); */
    background-image: radial-gradient(black, white);
    width: auto;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.proj1 {
    top: 45vh;
    left: 117.35vw;
}

.proj2 {
    top: 47vh;
    left: 142.5vw;
}

.proj3 {
    top: 30vh;
    left: 158vw;
}

.proj4 {
    top: 30vh;
    left: 175vw;
}

.proj5 {
    top: 65vh;
    left: 174vw;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid black; */

}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1c2445;
    font-family: 'Permanent Marker', cursive;
}

.modal-header .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: #3269ff;
    cursor: pointer;
    outline: none;
}

.modal-body {
    padding: 10px 30px 30px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: radial-gradient(rgba(0, 0, 0, 0.5), white); */
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}